.visual_bg {
        .video_wrap {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: -1;
        }
        .visual_video {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    //visual bg

    .section_visual {
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        .txt_box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            transform: translate(-50%, -50%);
            text-align: center;
            p {
                font-size: 1.4em;
                color: #fff;
                line-height: 1.4;
                font-weight: 300;
            }
        }
        .title {
            color: #fff;
            font-size: 6.8rem;
            margin: 0 0 1vw;
            line-height: 1;
            font-weight: 400;
            // transition-delay: 1s;
            @include mobile{
                font-size: 3rem;
            }
        }

        .arrow_box {
            position: absolute;
            bottom: 5%;
            right: 2%;
            overflow: hidden;
        }
        .arrow_bt {
            animation: arrow 4s 1s infinite ease-in-out;
            transition: animation .35s delay 2s;
            position: relative;
            img {
                width: 2vw;
            }
        }
        @keyframes arrow {
            0% {
                top: -6vw;
            }

            50% {
                top: 0;
            }

            100% {
                top: 6vw;
            }
        }
    }
    //visual

    .section_intro {
        height: 100vh;
        display: flex;
        align-items: center;
        .txt_box {
            padding: 0 60px;
        }
        .desc {
            font-size: 20px;
            color: #fff;
            @include mobile{
                text-align: center;
            }
            span{
                display: block;
                padding: 5px 0;
                line-height: 30px;
            }
        }
    }
    //intro

    .section_scrolltxt {
        padding: 10vw 0 8vw;
        height: 100vh;
        overflow: hidden;
        background: $bg-dakr-01;
        .scroll_line {
            &:nth-child(2){
                p{
                    position: relative;
                    left: -20vw;
                }
            }
            p {
                white-space: nowrap;
                color: #333;
                font-size: 7rem;
                font-weight: 400;
                transition: color .8s ease;
                line-height: 1.7;
                margin-bottom: 1vw;
                &:hover {
                    color: #0693e3;
                }
            }
        }
    }
    //scrolltxt

    .section_sohwreel {
        overflow: hidden;
        background: #0e0e0e;
        .title {
            text-align: center;
            color: #fff;
            margin: 0 0 5vw;
            font-size: 2.5rem
        }
        .video-wrap {
            max-width: 80%;
            text-align: center;
            margin: 0 auto;
            padding: 20px 0 0;
        }
        .video_cont {
            width: 100%;
                video {
                    width: 100%;
                }
        }
    }
    //sohwrrel

    .section_authentic {
        background: $bg-dakr-01;
        overflow: hidden;
        .authentic_list {
            height: 100vh;
            display: flex;
            align-items: center;
            @include mobile{
                height: auto;
                flex-direction: column;
                align-items: center;
            }
        }
        .title {
            width: 50vw;
            padding-left: 150px;
            box-sizing: border-box;
            color: #fff;
            font-weight: 300;
            position: relative;
            line-height: 1.3;
            font-size: 2rem;
            @include mobile{
                width: 100%;
                padding: 80px 0;
                text-align: center;
            }
        }
        .authentic_item {
            padding: 0 20vw 0 0;
            @include mobile{
                margin: 10px 0;
                padding: 0;
            }
        }
        .desc {
            font-size: 1.5rem;
            color: #fff;
            @include mobile{
                text-align: center;
            }
        }
        img{
            @include mobile{
                width: 100%;
            }
        }
    }
    //authentic

    .section_andar_slide{
        padding: 122px 0;
        background: #fff;
        overflow: hidden;
        position: relative;
        .andar_cont {
            width: 81vw;
            padding: 0 15px;
            margin: 0 auto;
        }
        .txt_box {
            font-weight: 300;
            color: #1E1E1E;
            @include mobile{
                text-align: center;
            }
        }
        .title {
            font-size: 2.875rem;
            line-height: 1.3;
            @include mobile{
                font-size: 2rem;
            }
        }
        .desc {
            line-height: 1.7;
            margin: 0 0 2vw;
        }
        .andar {
            padding: 6vw 10vw 0;
            box-sizing: border-box;
            -ms-user-select: none; 
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        .swiper-wrapper {
            width: 100%;
        }
        .swiper-slide {
            width: 70%;
            cursor: pointer;
            margin: 0 auto;
            &.on{
                img{
                    opacity: .6;
                    transform: scale(0.9);
                }
            }
            img {
                width: 100%;
                transition: .75s;
            }
            @include mobile{
                width: 100%;
            }
        }
        .txt{
            // width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 6vw;
            margin: 0 auto;
            cursor: default;
            -ms-user-select: none; 
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            opacity: 0;
            transition: .35s;
            &.on{
                opacity: 1;
            }
        }
    }


    .Information {
        display: flex;
        // flex: 2;
        background: $bg-dakr-01;
        @include mobile{
            flex-direction: column;
        }
        &>a {
            display: block;
            width: 50%;
            height: 100%;
            padding: 10vw 0;
            color: #fff;
            font-size: 2rem;
            text-align: center;
            box-sizing: border-box;
            @include mobile{
                width: 100%;
                padding: 80px 0;
            }
            &:last-child {
                border-left: 1px solid #333;
                @include mobile{
                    border-left: none;
                    border-top: 1px solid #333;
                }
            }
            &:hover p::after {
                width: 100%;
            }
        }
        p {
            display: inline-block;
            position: relative;
            padding: 1.3vw 0;
            &::after {
                content: "";
                display: block;
                width: 20%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: #fff;
                transition: width .35s;
                @include mobile{
                    bottom: -20px;
                    height: 2px;
                }
            }
        }
    }
    //info