@font-face {
    font-family: 'fff';
    src: url('../fonts/f300.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 300;
}

@font-face {
    font-family: 'fff';
    src: url('../fonts/f400.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 400;
}

@font-face {
    font-family: 'fff';
    src: url('../fonts/f700.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 700;
}
body{
    font-family: 'fff', sans-serif;
}

.blind{
    position: absolute;
    width: 1px;height: 1px;overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}
