.wrapper{
    .section-about{
        padding: 40px 150px;
        box-sizing: border-box;
        // @include tablet{
        //     padding: 40px 0;
        // }
        .about-list{
            width: 1200px;
            margin: 0 auto;
            background-color: $main-color-01;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 20px;
            border-radius: 20px;
            box-sizing: border-box;
        }
        .about-item{
            background-color: #fff;
            border-radius: 20px;
            margin: 20px 0;
            padding: 10px;
            box-shadow: 0 0 3px #000;
            position: relative;
            // @include tablet{
            //     padding: 0;
            // }
            &:nth-child(2n+0){
                background-color: $main-color-b3;
                .title{
                    background-color: #fff;
                    color: #000;
                }
                .txt-box{
                    color: #fff;
                    // p{
                    //     &:last-child{
                    //         border-left: 2px dashed #fff;
                    //         @include tablet{
                    //             border-top: 2px dashed #fff;
                    //             border-left: none;
                    //         }
                    //     }
                    // }
                }
            }
        }
        .title{
            position: absolute;
            top: -20px;
            left: 30px;
            border-radius: 20px;
            padding: 10px 15px;
            background-color: #000;
            color: #fff;
            font-weight: 700;
        }
        .txt-box{
            display: flex;
            text-align: center;
            // @include tablet{
            //     flex-direction: column;
            // }
            p{  
                width: 33%;
                padding: 50px 30px;
                font-size: 24px;
                box-sizing: border-box;
                &:last-child{
                    border-left: 2px dashed #000;
                    // @include tablet{
                    //     border-top: 2px dashed #000;
                    //     border-left: none;
                    // }
                }
                // @include tablet{
                //     width: 100%;
                // }
            }
        }
    }
    .section-portfolio{
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        background-color: #000;
        .title{
            padding: 60px 0 0 60px;
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
        }
        .portfolio-slide{
            width: 1200px;
            height: 800px;
            margin: 0 auto;
            padding: 100px;
            box-sizing: border-box;
            -ms-user-select: none; 
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            position: relative;
            overflow: hidden;
        }
        .swiper-wrapper{
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            width: 100%;
            height: 100%;
            position: relative;
            &:hover .overay{
                opacity: 1;
            }
        }
        .poomgo{
            background: url("../images/bg/new-cover.png") center / 100% no-repeat ;
            background-size: cover;
        }
        .andar{
            background: url("../images/bg/andar.jpg") center / 100% no-repeat;
            background-size: cover;
        }
        .study{
            background: url("../images/bg/study.jpg") center / 100% no-repeat;
            background-size: cover;
        }
        .sub-title{
            font-size: 60px;
            color: #fff;
            font-weight: 700;
            padding: 20px;
        }
        .overay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            left: 0%;
            background-color: rgba($color: #000000, $alpha: .7);
            opacity: 0;
            transition: .35s;
            .txt-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 20px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                a{
                    padding: 12px 20px;
                    margin: 10px 0;
                    border: 1px solid #fff;
                    font-weight: 700;
                    font-size: 20px;
                    color: #fff;
                    transition: .35s;
                    &:hover{
                        color: $main-color-g3;
                        background-color: #000;
                        border: 1px solid  $main-color-g3;
                    }
                }
            }
        }
    }
}