.swiper-pagination {
	position: absolute;
	top: 10px;
	right: 10px;
	width: auto !important;
	left: auto !important;
    height: 50px !important;
	margin: 0;
    // background-color: red;
}
.swiper-pagination-bullet {
	padding: 10px !important;
	border-radius: 50% !important;
	width: 60px !important;
	height: 60px !important;
	margin-left: 15px !important;
	text-align: center !important;
	line-height: 60px !important;
	font-size: 14px !important;
	color:  $main-color-g3 !important;
	opacity: 1 !important;
	background: transparent!important;
	position: relative !important;
	border: 1px solid $main-color-g3;
	&:hover{
		color:#000 !important;
		background: $main-color-g3 !important;
	}
	&::before{
		content: 'ㅡ';
		position: absolute;
		left: -17px;
		color: #fff;
	}
	&:first-child::before{
		content: '';
		position: absolute;
		left: 0;
	}
}
.swiper-pagination-bullet-active {
	color:#000 !important;
	background: $main-color-g3 !important;
}