@font-face {
    font-family: 'fff';
    src: url('/asset/fonts/Pretendard-Regular.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 300;
}

@font-face {
    font-family: 'fff';
    src: url('/asset/fonts/Pretendard-Light.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 400;
}

@font-face {
    font-family: 'fff';
    src: url('/asset/fonts/Pretendard-Bold.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 700;
}
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;    
}